*{
    color: #ffffff;
}

.container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}
.styled-table thead tr {
    background-color: #23dfec;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #23dfec;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #23dfec;
}
body{
    text-align: center;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
#nav{
    background-color: #23dfec;
    width: 100%;
    margin-top: 3%;
    height: 150px;
    text-align: center;
    
}
img{
    margin-right: 90%;
    margin-bottom: 30%;
    margin-top: 2%;
    height: 70%;
}
 h3{
    margin-top: -40%;
}
h1{
    margin-top: -35%;
}
pre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 90%;
}
button{
    background-color: #23dfec;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover{
    background: #FFF;
    color: #00bcd4;
  }


